body {
    background-color: #f6f5f5;
    color: #333;
    line-height: 1.6;
    max-width: 1200px;
}
.container {
    max-width: 1200px; 
    margin: 0 auto;    
    padding: 0 20px;   
}
.btn-primary {
    background-color: #164dc3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
.navbar {
    
    display: flex; 
 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 50px;
    background-color: rgb(248, 249, 251);
}
.nav-middle {
    list-style: none; 
    display: flex;
    gap: 20px;
}
.nav-middle a {
    text-decoration: none;
    color: #100e0e;
    font-size: 0.9rem;
}
.hero {
    background-image:url(./assets/banner.jpg);
    color: white;
    text-align: center;
    padding: 80px 10px;
}

.hero h1 {
    font-size: 3.5rem;
    margin: 20px;
}



.hero p {
    max-width: 600px;
    margin: 0 auto 30px auto; 
    color: #cbd5e1;
}